
@import url('https://fonts.googleapis.com/css2?family=Annie+Use+Your+Telescope&display=swap');
*{
	padding: 2px;
	margin: 2px;
	box-sizing: border-box;
}
html, body{
	height: 100%;
	width: 95%;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
	font-size: 20px;
}
body{
    background-image:url('images/bgp.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
}
main{
    border: 3px rgb(240, 232, 232) solid;
    width: 80%;
    height: 50%;
    margin: auto;
    margin-top: 25%;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}
h2{
    padding: 10px;
    border-radius: 20px;
    background-color: rgb(224, 189, 189);
    margin-top: 25%;
    font-size: 45px;
    color:rgb(138, 78, 146);
    text-shadow: 2px 6px 6px rgba(23, 1, 1, 0.5);
    font-family: 'Annie Use Your Telescope', cursive;
}
.no-style-link {
    text-decoration: none;
    color: inherit;
}
button{
    color:rgb(138, 78, 146);
    padding: 10px;
    border-radius: 20px;
    border: 1px rgb(240, 232, 232) solid;
    background-color:rgb(224, 189, 189);
}
button :hover{
    padding: 10px;
    border-radius: 20px;
    border: 1px rgb(240, 232, 232) solid;
    background-color:rgb(138, 78, 146) ;
    color:   rgb(224, 189, 189);
}
a{
   
    padding: 10px;
    font: 30px;
    font-family: 'Annie Use Your Telescope', cursive;
}
